@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cedarville+Cursive&family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: pink !important;

}




/* Home */
.portada {
    height:100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top:10vh;
}

.portada h1 {
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    z-index: 1; 
}

main div model-viewer {
    width: 70vh;
    height: 70vh;
    z-index: 2; /* Coloca el modelo 3D encima */
    transform: translateY(-4rem); 
}

.portada img {
    width: 70%;
    z-index: 1; /* Coloca la imagen detrás del modelo 3D */
    transform: translateY(-15rem);
}

/* Personajes */
.fondo_personajes{
    background-image:url('../img/Fondo_Personajes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.titulo_personajes{
    margin-left: 7rem;
    padding-top:10vh;
}
.titulo_personajes h1{
 font-family:"DotGothic16", serif ;
 font-size: 5rem;
}

.titulo_personajes h2{
 font-family:"Ballet", serif ;
 font-size: 9rem;

}
.card {
    background-color: transparent !important; /* Fondo completamente transparente */
    border: none !important; /* Elimina los bordes */
    box-shadow: none; /* Elimina cualquier sombra */
    transition: transform 0.3s ease; 
}
.card.rotate-left {
    transform: rotate(-5deg); /* Gira ligeramente a la izquierda */
}

.card.rotate-right {
    transform: rotate(5deg); /* Gira ligeramente a la derecha */
}
/* Títulos torcidos con fondo */
.card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:pink; /* Fondo oscuro semitransparente */
    padding: 5px 10px;
    transform: rotate(-10deg); /* Inclina el título */
    font-size: 1.5rem;
    font-family:"DotGothic16", serif ;
    border: 2px solid black; /* Borde sólido negro */
}



/* Footer */
footer{
    overflow-x: hidden
}
.secciones a {
    font-size: 2rem;
    font-family: "DotGothic16", serif
}

footer .secciones li a {
    transition: font-size 0.6s ease; 
}

footer .secciones li.list-inline-item a:hover {
    font-size: 2.3rem;
}


/* Botones de footer */

.boton_cargo_footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4rem;
}


.btn-outline-dark {
    border-radius: 2rem;
    background-color: pink !important;  /* Fondo rosa predeterminado */
    color: black;            /* Texto negro */
    border-color: pink !important;      /* Borde rosa */
}

/* Efecto hover del botón */
.btn-outline-dark:hover {
    background-color: hotpink !important; /* Fondo rosa más oscuro al pasar el cursor */
    color: white !important;              /* Texto blanco */
    border-color: hotpink !important;     /* Borde coincide con el fondo */
    transform: scale(1.1);
    transition: transform 0.6s ease, background-color 0.3s ease, color 0.3s ease;
}



.texto_descubre h2 {
    font-size: 2rem;
    font-family:"DotGothic16", serif
}

.texto_descubre img {
    width: 15%;
}



/* ADAPTACIONES RESPONSIVE */
@media screen and (max-width: 1200px) {


}   
@media screen and (max-width: 900px) {
/* home */
  
    .portada h1 {
        font-size: 3rem; 
    }

    main div model-viewer {
        width: 60vh;
        height: 60vh;
        transform: translateY(-3rem); 
    }

    .portada img {
        transform: translateY(-8em);
    }

    .titulo_personajes{
        margin-left: 4rem;
    }
    .titulo_personajes h1{

     font-size: 4rem;
    }
    
    .titulo_personajes h2{
     font-size: 8rem;
    
    }

    
}
@media screen and (max-width: 470px) {
/* home */
  
    .portada h1 {
        font-size: 2.5rem; 
    }

    main div model-viewer {
        width: 50vh;
        height: 50vh;
    }

    .portada img {
        width: 90%;
    }
    /* personajes sección*/

    .titulo_personajes{
        margin-left: 2rem;
    }
    
    .titulo_personajes h1{

     font-size: 2rem;
    }
    
    .titulo_personajes h2{
     font-size: 5rem;
    
    }
    /* Footer */
    .texto_descubre h2 {
        font-size: 1.5rem;
    }
    .secciones a {
        font-size: 1.3rem;
        font-family: "DotGothic16", serif
    }

    footer .secciones li.list-inline-item a:hover {
        font-size: 1.5rem;
    }
    .texto_descubre img {
        width: 10%;
        margin-right: 5rem;
    }
    .footer-image{
        width: 90vh;
    }
}











/* CSS MAITE */

#info {
    height: 120vh;
    position: relative;
}

/* #info {
    background-image: url(../media/star_bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

#info h1 {
    color: #F04388;
    padding-top: 1em;
    font-family: "Ballet", serif;
    font-size: 20vh !important;
    display: flex;
    justify-content: center !important;
}

#intro h2 {
    margin-top: 1em !important;
    padding: 4vh;
    display: flex;
    justify-content: center !important;
    text-align: center;
    font-size: 3vh;
}

#primero {
    font-family: "Press Start 2P", serif;
}

#segundo {
    font-family: "DotGothic16", serif;
}

#tercer {
    font-family: "Cedarville Cursive", serif;
}

#mechero {
    position: absolute; 
    top: 20%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    width: 200px; 
    height: auto;
    animation: rotar 2s infinite; 
}

#llavero {
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px; 
    height: auto;
    animation: rotar 2s infinite; 
}

#movil_hk {
    position: absolute; 
    top: 20%; 
    left: 10%; 
    transform: translate(-50%, -50%);
    width: 200px; 
    height: auto;
    animation: rotar 2s infinite;
}

#galeria_merch h1 {
    color: white;
    padding-top: 1em;
    font-family: "Ballet", serif;
    font-size: 20vh !important;
    display: flex;
    justify-content: center !important;
}

#galeria_merch {
    background-color: #F04388 !important;
    padding: 20px;
    background-image: url(../media/pink_hello_kitty_merch_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#galeria_merch p {
    color: white;
    font-family: "DotGothic16", serif;
    padding: 4vh;
    display: flex;
    justify-content: center !important;
    text-align: center;
    font-size: 3vh;
}

@keyframes rotar {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(30deg);
    }
    75% {
      transform: rotate(-30deg); 
    }
    100% {
      transform: rotate(-30deg);
    }
  }


/* ADAPTACIONES RESPONSIVE */
@media screen and (max-width: 1200px) {

    #mechero {
        left: 60%; 
    }

    #galeria_merch img {
        width: 60% !important;
        display: flex !important;
        justify-content: center !important;
    }

}   

@media screen and (max-width: 500px) {

    #info h1 {
        font-size: 12vh !important;
    }

    #info h2 {
        padding: 6vh !important;
        font-size: 2vh !important;
    }

    #movil_hk {
        top: 10%;
        width: 150px; 
    }

    #llavero {
        left: 20%;
        width: 150px;
    }

    #mechero {
        width: 150px; 
        top: 30%;
    }

    #galeria_merch h1 {
        font-size: 12vh !important;
    }

    #galeria_merch img {
        width: 50% !important;
    }
}




/* TIPOGRAFÍA*/
@font-face {
    src: url(fonts/frankfurter-regular.otf);
    font-family:'Frankfurter';
}





/* MENU */
.navbar {
    background-color: pink  ; 
    position: fixed !important;
    z-index: 200000 !important;
    
}
.navbar-nav .nav-link {
  
    font-family: 'DotGothic16', sans-serif; 
    font-size: 1.2rem; 
    padding-left:2em !important;
    color: white !important; 
}

.navbar-nav .nav-link:hover {
    color: #FF69B4 !important; 
}

.navbar-nav .nav-item {
    margin-right: 1rem; 
}

.navbar-brand {
    width: 150px;
    height: fit-content;
}

.navbar-brand > img {
    height:100%;
    width: 100%; 
}



/* SOBRE KITTY */
#horizontal-scroll {
    height: 91%;
    display:flex;
    flex-direction: row;
    padding-right: 1.5em;
    padding-left: 1.5em;
    max-width: fit-content;
    padding-top:10vh;
}

#horizontal-scroll > div {
    flex: 0 0 auto; /* Evita que los contenedores colapsen */
}

#horizontal-scroll > p {
    flex: 0 0 auto; /* Evita que los contenedores colapsen */
}

#horizontal-scroll p {
    white-space: normal; /* Permite que los párrafos hagan saltos de línea */
    word-wrap: break-word; /* Evita que las palabras largas se desborden */
}

#horizontal-scroll a {
    cursor: pointer;
    text-decoration: none;
    color:#272626;
}

#about-3-1-1-1-1:hover {
    color:#F04388;
}

#about-3-1-1-1-1 a:hover {
    color:#F04388;
}

#about_1_responsive {
    display: none;
}

#about_7_responsive {
    display: none;
}

#about-1-1-1-1{
    width: 18vh;
    height: fit-content;
}

#about-1-1-1-1 > img {
    height:100%;
    width: 100%;
}

#about-1-1-1-2{
    width: 20vh;
    padding: 0.3em;
}

#about_2 {
    height:100%;
    width: 100%;
}

#about-1-1-1{
    display: flex;
    flex-direction: column;
    height: 40vh;
}

#about-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-1-1-2 > figure {
    height: auto;
    width: 80vh;
    padding:1em;
}

#about-1-1-2 {
    width: 60vh;
    overflow: hidden;
    border-right:3em;

}

#about_video{
    width: 100%;
    height: auto;
}
 
#about-1-2 > h2 {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17vh;
    color:black;

}



#about-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:fit-content;
}

#about-2 {
    display: flex;
    height:85vh;
    flex-direction: column;
    justify-content: space-between;
}

#about-2 > figure {
    width: 60vh;
    height: fit-content;
    padding-left: 1em;
}

#about_4 {
    height:100%;
    width: 100%; 
}

#about-2 > div > p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-size: 1.6vh;
    display: flex;
    word-break: normal;
    line-height: 15px;
}

#about-2 > div {
    width: 60vh;
    display: flex;
    padding-left: 2em;
    padding-right: 1em;
    overflow: hidden;
}

#about-3-1 {
    display: flex;
    flex-direction: row;
}

#about-3-1 > figure {
    width: 80vh;
    height: fit-content;
}

#about_5 {
    height:100%;
    width: 100%; 
}

#about-3-1-1 {
    display: flex;
    flex-direction: column;
    width: 70vh;
}

#about-3-1-1 > p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-size: 1.6vh;
    display: flex;
    word-break: normal;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 2.5em;
    line-height: 15px;
}

#about-3-1-1-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 1em;
}

#insta2 > h5 {
    font-family:'Frankfurter';
    line-height: 1em;
    font-size: 3.2vh;
    padding-left: 0.5em;
}

#about-3-1-1-1-1 {
    display: flex;
    flex-direction: row;    
    width: 31.3vh;
    align-items: center;
    justify-content: space-between;
}

#insta1 > figure {
    width: 7vh;
    height: fit-content;
}

#instagram_about {
    height:100%;
    width: 100%; 
}

#about-3-1-1-1 > figure {
    width: 27vh;
    height: fit-content;
}

#about_8 {
    height:100%;
    width: 100%; 
}

#about-3-2 {
    display: flex;
    flex-direction: row;
}

#about-3-2-1 {
    width: 47vh;
    height: fit-content;
    padding-top: 4vh;
}

#about_6 {
    height:100%;
    width: 100%; 
}

#about-3-2-2 {
    width: 95vh;
    height: fit-content;
    padding-left: 4vh;
}

#about-3-2-2 > img {
    height:100%;
    width: 100%; 
}

#about-4 {
    display: flex;
    flex-direction: column; 
    padding-right: 8vh;
    justify-content: space-between;
    height: 87vh;
}

#about-4 > figure {
    width: 45vh;
    height: fit-content;
}

#about-4 > figure > img {
    height:100%;
    width: 100%; 
}

#about_9 {
    padding-top: 2vh;
}

#about-4 > p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-size: 1.6vh;
    display: flex;
    word-break: normal;
    padding-top: 1em;
    line-height: 15px;
    width: 45vh;

}









/* Video inicio */

.index-page {
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    width: 100%;
    height: 100%;    
}

.link-with-video {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    color: white; /* Cambia según el diseño */
    height: 100vh;
    width:100vw;

}

.link-with-video .video-wrapper {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.link-with-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family:'Frankfurter';
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}













/* ADAPTACIONES RESPONSIVE */
@media screen and (max-width: 600px) {
    #horizontal-scroll {
        display: block;
        width: 100%; /* Restablecer el ancho al 100% */
        overflow: visible;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        padding-top:0 !important;
    }

    #horizontal-scroll > div {
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    


    #about_1_responsive {
        display: flex;
    }

    #about_1_desktop {
        display: none;
    }
    
    #about_7_responsive {
        display: flex;
    }

    #about_7_desktop {
        display: none;
    }



    #about-1 {
        padding-top:20% !important;
    }

    #about-1-1 {
        flex-direction: column;
        align-items: center;
    }

    #about-1-1-1 {
        flex-direction: row;
        height: fit-content;
        width: 100%;
        justify-content: space-between;
        padding-right:2%;
        padding-left:3%;
    }

    #about-1-1-1-2 {
        height: 20%;
        width: fit-content;
    }

    #about-1-1-1-1 {
        width: fit-content;
        height: 20%;
    }

    #about-1-1-2 > figure {
        height: auto;
        width: 100%;
        padding: 0;
    }

    #about-1-1-2 {
        width: 100%;
        overflow: hidden;
        border-right: 0;
        padding: 3vw;
    }

    #about-1-2 {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #about-1-2 > h2 {
        font-size: 18vw;
    }

    #about-2 > figure {
    width: 95vw;
    height: fit-content;
    padding-left: 0;
}

#about-2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#about-2 > div {
    width: 94vw;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow: hidden;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#about-3-1 {
    flex-direction: column;
}

#about-3-1 > figure {
    width: 93vw;
    height: fit-content;
    padding-top: 2vw;
}

#about-3-1 {
    align-items: center;
    display: flex;
    width:100%;
}

#about-3-1-1 > p {
    font-size: 1.6vh;
    line-height: 15px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    padding-top: 2vw;
    padding-bottom: 4vw;
}

#about-3-1-1 {
    padding: 4vw;
    width: 100%;
}

#about-3-1-1-1 {
    padding-right: 0;
    padding-left: 0;
    width:100%;
}

#about-3-1-1-1-1 {
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}

#about-3-1-1-1 > figure {
    width: 45%;
    height: fit-content;
}

#insta1 > figure {
    width: 12vw;
    height: fit-content;
}

#insta2 > h5 {
    font-family: 'Frankfurter';
    line-height: 1em;
    font-size: 4.5vw;
    padding-left: 1vw;
}


#about-3-2 {
    flex-direction: column;
    width:100%;
    height: fit-content;
    align-items: center;
}

#about-3-2-1 {
    width: 60vw;
    align-self: flex-start;
    height: fit-content;
    padding-top: 2vw;
    padding-left: 8vw;
}

#about-3-2-2 {
    width: 85vw;
    align-self: flex-end;
    height: fit-content;
    padding-left: 0;
    padding-right: 6vw;
}

#about-4 > figure {
    width: 100%;
    height: fit-content;
}

#about-4 {
    padding: 4vw;
}

#about-4 > p {
    padding-top: 3vw;
    width: 100%;
}







}


